# Local Development Environment
spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: punchout

server:
  port: 9090

thirdparty:
  auth:
    url: http://localhost:8082/api/v1/token
    timeout: 5000
  catalog:
    url: http://localhost:8082/api/v1/catalog
    timeout: 10000

logging:
  level:
    com.waters.punchout.gateway: DEBUG
    org.springframework.web: DEBUG
